<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>BugBug{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Keeping track of cross country running results">
    <meta name="keywords" content="">
    <meta name="author" content="Colin Carroll">
    <meta charset="utf-8">

    <link href="/static/css/bootstrap_main.css" type="text/css" rel="stylesheet">
    <link href="/static/css/styles.css" type="text/css" rel="stylesheet">
    {% block css_header %}{% endblock %}
    <style>
      body {
        padding-top: 75px;
        }
      @media (max-width: 979px) {
        body {
          padding-top: 0px;
        }
      }
      html, body{
        height: 100%;
      }
     </style>
    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link rel="shortcut icon" href="/static/ico/favicon.ico">

    {% endblock %}
  </head>

  <body>

    <header class="navbar navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'homepage.views.homepage' %}">Cross Country Tracker</a>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse navbar-responsive-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'runners.views.search' %}">Runners</a></li>
            <li><a href="{% url 'teams.views.homepage'%}">Teams</a></li>
            <li><a href="{% url 'meets.views.homepage' %}">Meets</a></li>
            <li><a href="{% url 'courses.views.homepage' %}">Courses</a></li>
            <li><a href="{% url 'predictions.views.homepage' %}">Predictions</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </header>

    <div class="container page">
      <div class="content col-lg-12">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <hr>

    <footer class="bs-footer">
        {% block footer %}
        {% endblock %}
    </footer>

    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block js_footer %}
    {% endblock %}
  </body>
</html>
