{% extends "base.html" %}

{% block title %} - Meets{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Host</th>
      <th>City</th>
      <th>Gender</th>
    </tr>
  </thead>
  {% for meet in meets %}
  <tr>
    <td> <a href="{% url 'meets.views.results' meet.pk %}">{{ meet.meet_name | safe }}</a></td>
    <td> {{ meet.date | safe }}</td>
    <td> {{ meet.course.host | safe }}</td>
    <td> {{ meet.course.city | safe }}, {{meet.course.state | safe}}</td>
    <td> {{ meet.gender | safe }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
