{% extends "base.html" %}

{% block title %} - Meets{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Distance</th>
      <th>Date</th>
      <th>Host</th>
      <th>City</th>
    </tr>
  </thead>
  {% for meet in meets %}
  <tr>
    <td> 
      <a href="{% url 'meets.views.results' meet.pk %}">
        {{ meet.meet_name }}
      </a>
    </td>
    <td> {{ meet.gender }}</td>
    <td> {{ meet.course.distance }}m.</td>
    <td> {{ meet.date | safe }}</td>
    <td> 
      <a href="{% url 'courses.views.results' meet.course.pk %}">
        {{ meet.course.host }}
      </a>
    </td>
    <td> {{ meet.course.city }}, {{meet.course.state }}</td>
  </tr>
  {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if meets.has_previous %}
            <a href="?page={{ meets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ meets.number }} of {{ meets.paginator.num_pages }}.
        </span>

        {% if meets.has_next %}
            <a href="?page={{ meets.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
